@import '../../sass/shared';
@import '../../sass/mixins';

.filterPage {
  background-color: white;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  // padding: 25px 0 0;
}

.closeButton {
  font: 25px Arial, sans-serif;
  position: absolute;
  top: 60px;
  right: 10px;
}

.submitButton {
  @include dark-button-style;

  display: block;
}

.buttons {
  text-align: center;
}

// TODO
:global {
  .filter-page {
    
    &__header {
      position: relative;
      padding: 13px 0 10px;
    }
      
      &__close-button {
        $size: 20px;

        background: url(getIconURL('cross', #000000)) center center no-repeat;
        display: inline-block;
        width: 60px;
        height: 100%;
        background-size: $size;
        border: 0;
        opacity: 0.2;
        position: absolute;
        right: 0;
        top: 0;

        > span {
          @include visually-hidden;
        }
      }
  }
}
