.homePage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mainContent {
  flex: 1; // makes footer sticky
}

.floatingActionButton {
  display: block;
  position: fixed;
  border-radius: 30px;
  top: 80vh;
  bottom: 90px;
  right: 30px;
  color: white;
  background-color: #27757B;
  padding: 2px 10px;
  z-index: 5;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);

  &:hover {
    color: white;
  }
}

.opinionsList {
  padding: 40px 10px;
}
