.explore-page {
  $floating-button-height: 40px;

  &__intro {
    max-width: 560px;
    text-align: center;
    padding: 1px 20px;
    margin: -1px auto;

    > p {
      font: 23px/1.35 $display;
      color: #444;
    }
  }

  &__floating-action-button {
    font-weight: 200;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    display: block;
    position: fixed;
    border-radius: $floating-button-height;
    top: 80vh;
    bottom: 90px;
    right: 30px;
    color: white;
    background-color: #27757B;
    padding: 0 15px;
    height: $floating-button-height;
    line-height: $floating-button-height;
    z-index: 5;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);

    &:hover {
      color: white;
    }
  }

  .opinions-list {
    padding: 40px 10px;
    min-height: 100vh;
  }
  
  &__sticky-control-bar-wrapper {
    // pointer-events: none;

    > .control-bar {
      transition-property: box-shadow, background-color;
      transition-duration: 0.2s, 0.2s;
    }

    &--stuck {
      z-index: 6;

      top: $header-height !important; // override inline style

      > .control-bar {
        @include shadow-6dp;

        background-color: white;
        // margin-top: $header-height;
        border-top-color: white;
        border-bottom-color: white;
      }
    }
  }
}
