.control-bar {
  background-color: #fff1e0;
  border-top: 1px solid getColor('pink-tint2');
  border-bottom: 1px solid getColor('pink-tint2');
  position: relative;
  position: sticky;
  // top: $header-height;
  width: 100%;

  &__inner {
    padding: 5px 20px;
  }
    &__sentence-and-buttons {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      min-height: 62px;
    }
      &__buttons {
        display: flex;
      }

      &__sentence {
        flex: 1;
        margin: 0;
        padding: 10px;
        font: 21px $serif;
        // align-self: center;

        > mark {
          color: #2BBBBF;
          background-color: transparent;
        }
      }

  &__dropdown-filters-wrapper {
    display: none;

    .control-bar--desktop-filters-visible &  {
      display: block;
    }
  }
    &__dropdown-filters-buttons {
      border-top: rgba(0,0,0,0.1);
      padding-top: 10px;
      margin-top: 10px;
      text-align: center;
    }
}

.control-bar--desktop-filters-visible .control-bar__dropdown-filters-wrapper {
  display: block;
}
.control-bar--desktop-filters-visible .control-bar__desktop-filter-button {
  visibility: hidden;
}
