.opinions-list {
  padding-left: 10px;
  padding-right: 10px;
}

  .opinion {
    @include shadow-2dp;

    max-width: 600px;
    border-radius: 5px;
    margin: 0 auto 20px;
    position: relative;
    background: #fff;
    padding: 60px 15px;
    text-align: center;

    &:before,
    &:after {
      color: #444;
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      font: 50px $sans;
    }

    &:before {
      content: '“';
      top: 20px;
    }

    &:after {
      content: '”';
      bottom: 0px;
    }

    &__header {
      // text-align: center;
    }

    &__name {
      font: 19px $sans;
      color: #555;
    }

    &__location {
      font: 400 14px $sans;
      text-transform: uppercase;
      color: #888;
      letter-spacing: 0.1em;
    }

    $eligibility-indicator-size: 40px;

    &__eligibility {
      position: absolute;
      top: 10px;
      right: 10px;
      padding-top: $eligibility-indicator-size;
      width: $eligibility-indicator-size;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;

      > span {
        display: block;
        width: $eligibility-indicator-size;
        // text-align: center;
        text-transform: uppercase;
        font: 400 12px $sans;
        position: relative;
        left: -3px;
        cursor: default;
      }

      &--can {
        color: #9DCE39;
        background-image: $can-vote-icon;
      }

      &--cannot {
        color: #D47264;
        background-image: $cannot-vote-icon;
      }
    }

    &__text {
      font: 17px/29px $serif;
      color: #222;
    }
  }


@include oGridRespondTo(S) {
  .opinions-list {
    padding-left: 18px;
    padding-right: 18px;
  }

    .opinion {
      margin-bottom: 30px;

      &__text {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
}

@include oGridRespondTo(M) {
  .opinions-list {
    @include shadow-2dp;

    border-radius: 5px;
    background: white;
    padding-left: 23px;
    padding-right: 23px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

    .opinion {
      background: transparent;
      margin-bottom: 0;
      border-top: 1px solid #e6e6e6;
      border-bottom: 0;
      border-radius: 0;
      box-shadow: none;
      padding-bottom: 25px;

      &:after {
        display: none;
      }

      &:first-of-type {
        border-top: 0;
      }

      &__text {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
}
