/**
 * This file is for mixins, variables and other stuff shared between modules.
 */

@import 'o-fonts/main';
@import 'o-grid/main';
@import 'o-colors/main';

$sans: oFontsGetFontFamilyWithFallbacks('MetricWeb');
$serif: oFontsGetFontFamilyWithFallbacks('FinancierTextWeb');
$display: oFontsGetFontFamilyWithFallbacks('FinancierDisplayWeb');

@mixin visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

$button-height: 40px;

@mixin button-style {
  // box-sizing: border-box;
  // border: 1px solid #27757B;
  // border-radius: 3px;
  // display: inline-block;
  // margin: 8px;
  // padding: 0 8px;
  // height: $button-height;
  // line-height: $button-height;
  // color: #27757B;
  // background-color: white;
  // text-align: center;
}

@mixin dark-button-style {
  // @include button-style;

  // background-color: #27757B;
  // color: white;
}
