/**
 * This file is for mixins, variables and other stuff shared between modules.
 */

@import 'o-fonts/main';
@import 'o-grid/main';
@import 'o-colors/main';

$sans: oFontsGetFontFamilyWithFallbacks('MetricWeb');
$serif: oFontsGetFontFamilyWithFallbacks('FinancierTextWeb');
$display: oFontsGetFontFamilyWithFallbacks('FinancierDisplayWeb');

@mixin visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

$button-height: 40px;

@mixin button-style {
  // box-sizing: border-box;
  // border: 1px solid #27757B;
  // border-radius: 3px;
  // display: inline-block;
  // margin: 8px;
  // padding: 0 8px;
  // height: $button-height;
  // line-height: $button-height;
  // color: #27757B;
  // background-color: white;
  // text-align: center;
}

@mixin dark-button-style {
  // @include button-style;

  // background-color: #27757B;
  // color: white;
}


$can-vote-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 32 29"><g fill="none" fill-rule="evenodd"><path fill="#9ACE53" d="M8.6402 7.0956h6.557V1.491H8.64v5.6046zm7.998.0288c.1894.0118.3595.0122.5266.0348.368.05.6332.3757.624.7507-.0092.371-.2928.685-.6582.724-.0884.009-.1782.008-.2673.008H6.915c-.0817 0-.1637 0-.245-.008-.377-.034-.6715-.351-.6784-.73-.007-.376.258-.696.6298-.747.1667-.023.3367-.024.51-.035V5.24c-.6385 0-1.2622.0058-1.8856-.004-.164-.0025-.2467.056-.3255.1964-.665 1.184-1.3395 2.363-2.0103 3.5437-.2845.502-.567 1.004-.8625 1.527h19.6807c-.0283-.057-.0454-.096-.0664-.134-.9458-1.664-1.8903-3.33-2.8433-4.991-.0397-.069-.158-.13-.241-.132-.587-.011-1.1745-.006-1.762-.005-.057 0-.114.01-.1772.016v1.868zm-15.149 16.416h20.8546V12.0038H1.489v11.5368zM7.1464 3.766c0-.972-.0002-1.9088 0-2.8453C7.147.2692 7.4158 0 8.0664 0h7.719c.635.0002.909.2736.9093.9082.0004.8626 0 1.7252 0 2.5878v.2698h.2555c.7288 0 1.4578.0104 2.1862-.0045.3634-.0074.6055.1435.7803.448.9607 1.674 1.9243 3.346 2.8868 5.0187.2813.489.5813.9685.8353 1.4712.1192.236.2105.5165.2113.7772.013 4.2237.009 8.4475.009 12.6712 0 .6552-.261.9158-.918.9158-7.339.0002-14.679-.004-22.018.0072-.661.001-.924-.411-.922-.9275.013-4.223.009-8.447.005-12.671 0-.252.057-.474.183-.695 1.252-2.191 2.499-4.385 3.743-6.58.167-.294.397-.438.74-.433.736.01 1.473.003 2.209.003h.268z"/><path fill="#FEFEFE" d="M29.7287 18.4018c-.1754 5.4004-4.8808 9.4032-9.8747 9.2602-5.547-.159-9.5487-4.7748-9.3798-9.9175.1816-5.532 4.769-9.4586 9.771-9.3513 5.4225.1163 9.7434 4.7188 9.4835 10.0086"/><path fill="#FFF" d="M20.1138 29.4505c-.1037 0-.207-.0015-.3108-.0044-3.0816-.088-5.9275-1.358-8.0135-3.577-2.0682-2.199-3.1978-5.181-3.0993-8.183.1005-3.06 1.3667-5.888 3.5653-7.963 2.188-2.065 5.0478-3.175 8.0277-3.114 3.1298.067 6.0372 1.375 8.1868 3.682 2.1063 2.261 3.1863 5.167 3.042 8.185-.101 2.991-1.3796 5.78-3.6014 7.854-2.1253 1.984-4.9672 3.122-7.7968 3.122"/><path fill="#9ACE53" d="M12.3948 18.283c.006 2.04.793 3.962 2.2167 5.4124 1.435 1.4624 3.3646 2.2807 5.4328 2.304 2.0636.0243 4.014-.7633 5.4852-2.2088 1.4603-1.4348 2.279-3.3607 2.3052-5.423.0264-2.073-.759-4.0293-2.2118-5.5085-1.447-1.472-3.392-2.289-5.478-2.299h-.04c-2.045 0-3.969.791-5.42 2.227-1.464 1.45-2.278 3.402-2.292 5.497m7.638 9.529h-.11c-2.578-.029-4.985-1.051-6.778-2.877-1.777-1.81-2.759-4.208-2.765-6.752v-.009c.015-2.605 1.031-5.036 2.859-6.845 1.811-1.793 4.215-2.781 6.767-2.781l.049.001c2.599.013 5.026 1.033 6.833 2.8727 1.813 1.8457 2.793 4.2866 2.76 6.8733-.0327 2.57-1.055 4.972-2.8786 6.763-1.8105 1.778-4.204 2.7573-6.739 2.7573"/><path fill="#9ACE53" d="M18.909 21.6287c-.3125 0-.6106-.1363-.862-.3944-.319-.3278-.6376-.656-.956-.9842-.4083-.42-.8165-.841-1.226-1.26-.311-.318-.4202-.724-.3075-1.141.1115-.414.42-.708.846-.806.085-.019.1707-.029.2546-.029.212 0 .527.065.827.376.472.488.943.976 1.414 1.465l.479-.4923c.688-.708 1.368-1.4077 2.049-2.1067l.122-.125c.339-.3478.688-.707 1.04-1.0558.225-.223.511-.346.806-.346.269 0 .525.098.741.284.467.401.534 1.11.15 1.58-.169.2077-.354.393-.532.572-.053.053-.105.1057-.157.159-.687.7033-1.375 1.406-2.063 2.109l-1.3012 1.33c-.146.1496-.291.3005-.434.4525-.325.344-.661.416-.885.416"/></g></svg>');


$cannot-vote-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30"><g fill="none" fill-rule="evenodd"><path fill="#D65C51" d="M8.756 7.24H15.4V1.52H8.756v5.72zm8.105.03c.2.01.37.012.54.035.37.05.64.383.63.766-.01.38-.29.7-.66.74-.09.01-.18.01-.27.01H7.01c-.083 0-.166 0-.25-.01-.38-.03-.68-.35-.686-.74-.005-.38.26-.71.64-.76.17-.02.34-.02.517-.03V5.35c-.64 0-1.28.005-1.91-.004-.16-.003-.25.057-.33.2L2.95 9.162c-.29.51-.577 1.024-.876 1.557H22.02c-.03-.06-.047-.1-.068-.14-.96-1.7-1.916-3.4-2.882-5.09-.04-.07-.16-.14-.244-.14-.595-.01-1.19-.01-1.785-.01-.05 0-.11.01-.18.02v1.9zM1.51 24.02h21.133V12.247H1.51v11.77zM7.24 3.84V.94c0-.665.273-.94.932-.94h7.822c.644 0 .922.28.922.927v2.915h.26c.737 0 1.476.01 2.214-.004.37-.008.614.146.79.457.975 1.708 1.95 3.414 2.927 5.12.284.5.588.99.845 1.502.12.24.213.527.214.793.012 4.31.008 8.62.008 12.93 0 .667-.264.933-.93.933-7.438 0-14.876-.004-22.313.008-.67.01-.93-.42-.93-.94.02-4.31.01-8.62.01-12.93 0-.25.06-.48.19-.71 1.27-2.24 2.53-4.48 3.79-6.72.17-.3.4-.44.75-.44.75.01 1.49.01 2.24.01h.28z"/><path fill="#FFF1E0" d="M30.127 18.776c-.178 5.51-4.947 9.595-10.007 9.45-5.622-.163-9.677-4.873-9.506-10.12.184-5.645 4.833-9.652 9.902-9.542 5.495.12 9.874 4.815 9.61 10.212"/><path fill="#FFF" d="M20.068 30.045c-3.123-.09-6.007-1.386-8.12-3.65-2.097-2.244-3.24-5.287-3.14-8.35.1-3.122 1.383-6.007 3.612-8.124 2.217-2.1 5.115-3.24 8.135-3.17 3.17.07 6.118 1.41 8.296 3.76 2.14 2.31 3.23 5.27 3.09 8.35-.1 3.06-1.4 5.9-3.65 8.02-2.15 2.03-5.03 3.19-7.9 3.19-.1 0-.21 0-.31-.002z"/><path fill="#D65C51" d="M26.362 14.2c-3.39 3.414-6.77 6.814-10.143 10.21 2.42 1.844 6.39 2.034 9.24-.758 2.76-2.7 2.86-6.742.89-9.452m-1.81-1.812c-2.62-1.986-6.86-1.957-9.6 1.058-2.58 2.843-2.33 6.87-.54 9.143l10.13-10.21m5.572 6.39c-.178 5.51-4.947 9.59-10.007 9.45-5.62-.17-9.677-4.88-9.506-10.12.186-5.65 4.835-9.65 9.904-9.54 5.496.12 9.875 4.81 9.61 10.21"/></g></svg>');

