.filters {
  $select-input-height: $control-height - 2;
  $select-menu-max-height: 400px;
  @import 'react-select/scss/default';

  &__filter-set {
    text-align: cetner;
    padding: 0 15px;
  }

    &__heading {
      font-size: 17px;
      font-weight: 500;
      margin: 1em 0 0.5em;
    }
    
    &__big-or {
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;

      &:before {
        content: '—';
        margin-right: 1px;
      }

      &:after {
        content: '—';
        margin-left: 1px;
      }
    }
}

.filters--horizontal {
  max-width: 740px;
  margin: 0 auto;

  .filters {
    &__filter-set {
      display: flex;
    }
      &__heading {
        width: 100px;
      }

      &__country-selector { // TODO
        min-width: 160px;
      }

      &__big-or {
        margin-right: 10px;
      }
  }

  .tick-box {
    min-width: 100px;
    margin-right: 10px;

    &__label {
      // padding-right: 10px;
      // 
    }

    margin-right: 10px;
  }
}

.tick-box {
  // background: #f2f2f2;
  background: rgba(black, 0.05);
  border: 1px solid rgba(black, 0.1);

  font: 17px/#{$control-height} MetricWeb;
  height: $control-height;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  display: flex;

  &:hover {
    background: rgb(250, 250, 220);

    .tick-box__icon {
      opacity: 0.75;
    }
  }
  &:active {
  }

  &__icon {
    display: block;
    width: $control-height;
    height: $control-height;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $control-height * 0.5;
    opacity: 0.5;

    &--eu-flag { background-image: $eu-flag-icon; }
    &--exit-door { background-image: $exit-door-icon; }
    // &--question-mark { background-image: $question-mark-icon; }

    &--in-eu { background-image: $in-eu-icon; }
    &--outside-eu { background-image: $outside-eu-icon; }
  }

    &__label {
      display: block;
      height: $control-height;
      line-height: $control-height;
      vertical-align: top;
      // min-width: 100px;
      padding: 0 10px;
      flex: 1;
      white-space: nowrap;
    }

    &__indicator {
      display: block;
      float: right;
      margin: 12px 20px 0 0;
      border: 1px solid #e6e6e6;
      background: rgba(white, 0.9);

      height: 26px;
      width: 26px;
    }

    &__indicator--ticked {
      // background-image: url("https://image.webservices.ft.com/v1/images/raw/fticon:tick?source=ig&tint=2bbbbf,2bbbbf&format=svg");
      background-image: url(getIconURL('tick', #2bbbbf));
      background-size: 15px;
      background-position: center center;
      background-repeat: no-repeat;

      // @include oFtIconsGetSvg('tick', #2bbbbf, 21px);
    }

    &__indicator--unticked {
      // background: transparent;
    }
}
