// TODO: in here, add classes for app-wide icons:
// .iconRemain, .iconLeave, .iconUnsure, .iconInEU, .iconOutsideEU, .iconTick
// including cover style maybe, and a default size
// then maybe other components can just import this file and use the classnames

:global {
  @import '../../sass/shared';

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    @include oColorsFor('page');
    font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
    min-height: 100vh;
    margin: 0;
  }

  a {
    // @include oColorsFor('link');
    color: #2B747C;

    text-decoration: none;

    &:hover {
      // @include oColorsFor('link-hover');
      color: darken(#2B747C, 20%);
    }
  }
  
  // style button, or just things with class .btn, to look like a nice button
  button,
  .btn {
    box-sizing: border-box;
    border: 1px solid #27757B;
    border-radius: 3px;
    display: inline-block;
    margin: 8px;
    padding: 0 8px;
    height: $button-height;
    color: #27757B;
    background-color: transparent;
    text-align: center;
    font: inherit;
    line-height: $button-height;

    &.dark {
      background-color: #27757B;
      color: white;
    }
  }

  button.link {
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 1;
    display: inline;
    text-align: left;
  }
}

.app {}
